body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff; /* Cambiado a fondo blanco para modo día */
    color: #333; /* Cambiado a texto oscuro para modo día */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #f0f0f0; /* Fondo de cabecera en modo día */
}
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #1B1B26;
    --dark: #d8dbe0;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
    margin-right: 70px;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.logo {
    height: 80px;
    margin-left: 30px;
}

.input-group {
    position: relative;
}

.input {
    border: solid 1.5px #000000;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #858181;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 420px;
}

.user-label {
    position: absolute;
    left: 15px;
    color: #858181;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid #FF9100;
    color: #333; 
}

.input:focus ~ label,
input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color: #ffffff;
    padding: 0 .2em;
    color: #FF9100;
}

.home-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
}

.home-form .input-group {
    padding-top: 40px;
}

button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #FF9100 0%,#DD2C00 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  margin-top: 80px;
  width: 444px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  padding: 0em;
  background: linear-gradient(to bottom, #FF9100 0%,#DD2C00 100%);
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

button svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

button .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

button:hover .svg-wrapper {
  background: linear-gradient(to bottom, #FF9100 0%,#DD2C00 100%);
  width: 54px;
  height: 54px;
}

button:hover svg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  transform: rotate(405deg);
}


.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Fondo del footer en modo día */
    color: #333; /* Color del texto en modo día */
    height: 20vh;
}

.person1 {
    text-align: right;
    margin: 0 20px;
}

.person2 {
    text-align: left;
    margin: 0 20px;
}

.divider {
    width: 1px;
    background-color: #ccc; /* Color del divisor en modo claro */
    height: 100px;
}

/* Estilos adicionales para modo oscuro */
.dark-mode {
    background-color: #1B1B26; /* Color de fondo en modo oscuro */
    color: #fff; /* Color del texto en modo oscuro */
}

.dark-mode .header {
    background-color: #15151F; /* Color de fondo de la cabecera en modo oscuro */
}

.dark-mode .toggle-switch .slider {
    background-color: #1B1B26; /* Color del slider en modo oscuro */
}

.dark-mode .toggle-switch .slider::before {
    background-color: #ccc; /* Color del círculo en el slider en modo oscuro */
}

.dark-mode .input {
    border-color: #ffffff; /* Cambia el color del borde */
}

.dark-mode .input:focus,
.dark-mode .input:valid {
    background-color: #1B1B26; /* Cambia el fondo del input cuando está enfocado o es válido */
    color: #ffffff; /* Cambia el color del texto */
    border: 1.5px solid #FF9100;
}

.dark-mode .input:focus ~ .user-label,
.dark-mode .input:valid ~ .user-label {
    color: #FF9100; /* Cambia el color del label cuando el input está enfocado o es válido */
    background-color: #1B1B26;
}

.dark-mode .input:focus,
.dark-mode .input:valid {
    background-color: #1B1B26; /* Cambia el fondo del textarea cuando está enfocado o es válido */
    color: #ffffff; /* Cambia el color del texto del textarea */
    border: 1.5px solid #FF9100; /* Cambia el borde del textarea */
}

.dark-mode .input:focus ~ .user-label,
.dark-mode .input:valid ~ .user-label {
    color: #FF9100; /* Cambia el color del label cuando el textarea está enfocado o es válido */
    background-color: #1B1B26; /* Cambia el fondo del label cuando el textarea está enfocado o es válido */
}


.dark-mode .footer {
    background-color: #15151F; /* Color de fondo del footer en modo oscuro */
    color: #b3b3b3; /* Color del texto en modo oscuro */
}



.container-main{
    display: flex;
    justify-content: center;
    height: 120vh;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 45%;
}

.input-group-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.input-group-2 label {
    margin-bottom: 30px;
}